<div class="article-title">
    <h2>
        <a href="<%- url_for(post.link?post.link:post.path) %>" class="shake shake-little" title="<%= post.title %>">
            <% if (post.encrypt){ %>
            <i class="fas fa-lock fa-fw" aria-hidden="true"></i>
            <% } %>
            <%= post.title %>
        </a>
    </h2>
    <div class="meta_box">
    
        <% var author = post.author?post.author:''; %>
        <% for(var key in theme.authors){ %>
            <% if (author === ''){ %>
                <% author = key;break; %>
            <% } %>
        <% } %>
        <% var headimg = theme.authors[author]; %>
        <div class="meta meta_auth">
            <img src="<%- url_for(headimg) %>" alt="head" />
            <p><%= author %></p>
        </div>
    
        <% if (post.categories && post.categories.length){ %>
            <div class="meta meta_cate">
                <i class="fas fa-folder-open fa-fw" aria-hidden="true"></i>
                <p><%- list_categories(post.categories, {
                    show_count: false,
                    class: 'article-category',
                    style: 'none',
                    separator: '►'
                    }) %></p>
            </div>
        <% } %>
        
        <div class="meta meta_date">
            <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
            <p>发布于：<%- date(post.date, "YYYY年MM月DD日") %></p>
        </div>
    
        <div class="meta meta_update">
            <i class="fas fa-edit fa-fw" aria-hidden="true"></i>
            <p>更新于：<%- date(post.updated, "YYYY年MM月DD日") %></p>
        </div>
    </div>
    <%- partial('_partial/post/tag') %>
</div>
