<footer>
    <div class="main">
        Powered by <a href="https://github.com/hdxw/hexo-theme-prowiki" target="_blank">ProWiki<b><sup><%= theme.version %></sup></b></a>
        &copy;2020-<%= date(new Date(), 'YYYY') %> <%= config.title %><br>
        <a href="http://beian.miit.gov.cn/"><%= theme.footer.beian %></a>
    </div>
</footer>
<script>
    const CONFIG = Object.freeze({
        localsearch: {
            path: "<%= url_for(config.search.path) %>",
            unescape: <%= theme.localsearch.unescape %>,
            top_n: <%= theme.localsearch.top_n_per_article %>,
            auto_trigger: <%= theme.localsearch.auto_trigger %>,
        }
    });
</script>
<%- js('js/prowiki.js') %>
<script>if(typeof(CATEGORY_DATA)!=='undefined'){loadCategoryId(0);}</script>